nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
    height: 50px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 5em;
    text-shadow: 0px 2px #b2a98f,
    0px 4px 3px rgba(0, 0, 0, 0.15),
    0px 8px 1px rgba(0, 0, 0, 0.1);
}

.bg-one{
    background: #E8F9FD ;
}

.bg-two{
    background: #79DAE8;
}

.bg-three{
    background: #0AA1DD;
}